<div class="expenses-container">
  <h2>Your Expenses</h2>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Type</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      {{#each expenses}}
        <tr>
          <td>{{date}}</td>
          <td>{{name}}</td>
          <td>{{type}}</td>
          <td>${{amount}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<!-- Expense Entry Form -->
<div class="expense-form">
    <h3>Add New Expense:</h3>
    <form class="form add-expense">
      <div class="form-group">
        <label for="date">Date:</label>
        <input class="form-input" type="date" name="date" id="date" required>
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input class="form-input" type="text" name="name" id="name" required>
      </div>
      <div class="form-group">
        <label for="type">Type:</label>
        <input class="form-input" type="text" name="type" id="type" required>
      </div>
      <div class="form-group">
        <label for="amount">Amount:</label>
        <input class="form-input" type="number" name="amount" id="amount" required>
      </div>
      <div class="form-group">
        <button lass="btn btn-primary" type="submit">Add Expense</button>
      </div>
    </form>
</div>

<script src="/js/expense-script.js"></script>





{{!-- <section class="expenses">
    <h3>Welcome {{user.username}}!</h3>
    <h4>Your Stored Information</h4>
    <div>
    <ul>
        {{#each records}}
        <li>
            <strong>Name:</strong> {{ this.name }}
            <strong>Email:</strong> {{ this.email }}
        </li>
        {{/each}}
    </ul>
    </div>


    <div>
  <h4>Your transactions:</h4>
  <ul>
    {{#each transactions}}
      <li>{{description}} - {{amount}}</li>
    {{else}}
      <li>No transactions found.</li>
    {{/each}}
  </ul>
</div>
</section> --}}
